/*
  ____              _  _    _          ____             _ 
 / ___|  _ __ ___  (_)| |_ | |__      |  _ \  __ _   __| |
 \___ \ | '_ ` _ \ | || __|| '_ \     | |_) |/ _` | / _` |
  ___) || | | | | || || |_ | | | |    |  __/| (_| || (_| |
 |____/ |_| |_| |_||_| \__||_| |_|    |_|    \__,_| \__,_| UI 
  A FOIL UI Based Framework for the Smith Pad                            */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
  background-color:black;
}
* {
  user-select: none;
}
/*********************************
Font-Sizes
**********************************/
fontsize10 {
  font-size: 10;
}
fontsize20 {
  font-size: 20;
}
fontsize30 {
  font-size: 30;
}
fontsize40 {
  font-size: 40;
}
fontsize50 {
  font-size: 50;
}
fontsize60 {
  font-size: 60;
}
fontsize70 {
  font-size: 70;
}
fontsize80 {
  font-size: 80;
}
fontsize90 {
  font-size: 90;
}
fontsize100 {
  font-size: 100;
}
fontsize200 {
  font-size: 200;
}
fontsize300 {
  font-size: 300;
}
fontsize400 {
  font-size: 400;
}
fontsize500 {
  font-size: 500;
}
fontsize600 {
  font-size: 600;
}
fontsize700 {
  font-size: 700;
}
fontsize800 {
  font-size: 800;
}
fontsize900 {
  font-size: 900;
}
fontsize1000 {
  font-size: 1000;
}

/********************************
Font-COLOR
********************************/
fontcolorRED {
  color: red;
}
fontcolorORANGE {
  color: orange;
}
fontcolorYELLOW {
  color: yellow;
}
fontcolorBLUE {
  color: blue;
}
fontcolorWHITE {
  color: white;
}
fontcolorBLACK {
  color: black;
}

/********************************************
Classes for Layouts 
/*******************************************/

.layout {
  background-color: rgb(95, 95, 95);
  color: white;
  padding: 10em 1em;
  position: relative;
  z-index: 2;

  animation-name: layouts;
  animation-duration: 2s;
}

/* No Animation */
.get-no-layout-indicator-side-round {
  background-color: rgb(95, 95, 95);
  color: white;
  padding: 1px 1em;
  border-radius: 10px;
}

/* With Animations */
.layout.side-round {
  border-radius: 10px;
  height: 10vh;
}

.layout.side-round.indicator {
  height: 10vh;
}

.layout.indicator-side-round {
  padding: 1px 1em;
  border-radius: 10px;
}
/********************************************
Subclasses for Layouts
Contents of Subclasses {

- Regular Layout Subclasses 
- Layout Side Round Subclasses
- Layout Side Round Indicator
- Layout Indicator Side Round
}
/*******************************************/

/********************************************              
Regular Layout Subclasses
/*******************************************/

.layout.color-is-red {
  background-color: rgb(179, 0, 0);
}

.layout.color-is-orange {
  background-color: rgb(230, 84, 0);
}

.layout.color-is-blue {
  background-color: rgb(4, 95, 170);
}

.layout.color-is-green {
  background-color: rgb(0, 156, 0);
}

/********************************************             
Layout Side Round Subclasses
/*******************************************/

.layout.side-round.color-is-red {
  background-color: rgb(179, 0, 0);
}

.layout.side-round.color-is-orange {
  background-color: rgb(230, 84, 0);
}

.layout.side-round.color-is-blue {
  background-color: rgb(4, 95, 170);
}

.layout.side-round.color-is-green {
  background-color: rgb(0, 156, 0);
}

/********************************************  
Layout Side Round Indicator Subclasses
/*******************************************/

.layout.side-round.indicator.color-is-red {
  background-color: rgb(179, 0, 0);
}

.layout.side-round.indicator.color-is-orange {
  background-color: rgb(230, 84, 0);
}

.layout.side-round.indicator.color-is-blue {
  background-color: rgb(4, 95, 170);
}

.layout.side-round.indicator.color-is-green {
  background-color: rgb(0, 156, 0);
}

/********************************************  
Layout Indicator Side Round Subclasses
/*******************************************/

.layout.indicator-side-round.color-is-red {
  background-color: rgb(179, 0, 0);
}

.layout.indicator-side-round.color-is-orange {
  background-color: rgb(230, 84, 0);
}

.layout.indicator-side-round.color-is-blue {
  background-color: rgb(4, 95, 170);
}

.layout.indicator-side-round.color-is-green {
  background-color: rgb(0, 156, 0);
}

/****************************************
Buttons
****************************************/
.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

/****************************************
Button Color Subsitutes
****************************************/

.button.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

.button.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

.button.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

.button.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

.button.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

.button.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(75, 75, 75, 0.459),
    0 17px 50px 0 rgba(61, 61, 61, 0.589);
}

/****************************************
|i| Action after button is hovered
****************************************/
.button:hover {
  box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
  background-color: rgb(1, 208, 67);
  color: white;
}

/****************************************
|i| Action after button is pressed
****************************************/
.button:active {
  box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
  background-color: red;
  color: white;
}

/* Keyframes */
@keyframes layouts {
  from {
    padding: 30em 1em;
  }

  to {
    padding: auto;
  }
}

@keyframes foil-buttons-effect {
  from {
    font-size: 500%;
  }
}
@keyframes foil-buttons-no-animate-effect {
  from {
    padding: 100px 100px;
  }
}
